{{ data.creator_name }}さんがタスクを作成しました。
　タイトル：{{ data.title }}
　スイムレーン：{{ data.swimlane_name }}
　カラム：{{ data.column_title }}
　カテゴリー：{{ data.category_name }}
　担当者：{{ data.assignee_name }}
{{ data.url }}
