{{ data.user_name }}さんがタスクのカラムを移動しました。
　タイトル：{{ data.title }}
　スイムレーン：{{ data.swimlane_name }}
　カラム：{{ data.src_column_title }} → {{ data.dst_column_title }}
　カテゴリー：{{ data.category_name }}
　担当者：{{ data.assignee_name }}
{{ data.url }}
